.DiaryList-container {
  background-color: #fff3e0;
  width: 100%;
  /* max-width: 400px; */
  height: auto;
  text-align: center;
  font-family: Arial, sans-serif;
  /* margin: 50px 10px 5px 10px; */
}
.DiaryList {
  border: 1px solid #ccc;
  padding: 20px;
  /* width: 100%;
  max-width: 300px; */
  margin: 20px auto;
  background-color: #f4f4f4;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}
.DiaryList ul {
  list-style-type: none;
}
.DiaryList-container h3 {
  color: #464646;
  font-weight: bold;
  font-size: 20px;
}

.main-diary,
.main-book,
.user-list {
  width: 100%;
}
