/* 기본적인 스타일 설정 */
.Nav {
  flex-direction: column;
  position: absolute;
}

/* .Nav-topbar {
  display: flex;
  justify-content: flex-end; 
  버튼을 오른쪽으로 이동
  padding: 20px;
  background-color: transparent; 
  배경색을 투명으로 설정
} */

.Nav-sidebar-toggle {
  width: 30px; /* 버튼의 너비를 30px로 설정 */
  height: 30px; /* 버튼의 높이를 30px로 설정 */
  cursor: pointer;
  background: none;
  border: none;
  font-size: 30px;
  margin-top: 15px;
  visibility: hidden; /* 기본적으로 버튼 숨기기 */
}

/* 사이드바 */
.Nav-sidebar {
  position: fixed;
  top: 0;
  left: -250px; /* 사이드바 기본 위치 */
  width: 150px;
  height: 100%; /* 사이드바의 높이를 100%로 설정 */
  background-color: aqua;
  color: white;
  transition: left 0.3s ease;
  padding: 20px;
  z-index: 1000;
}

.Nav-sidebar.open {
  left: 0; /* 열렸을 때 사이드바 위치 */
}

.Nav-sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.Nav-sidebar ul li {
  margin: 10px 0;
}

.Nav-sidebar li a {
  display: block;
  padding: 10px 15px;
  color: #464646;
  text-decoration: none;
  font-size: 22px;
  border-radius: 4px;
  transition: font-weight 0.3s, color 0.3s;
}
