* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

form {
  background-color: #fff;
  border: 2px solid #ccc;
  border-radius: 10px;
  color: black;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  padding: 30px;
  width: 400px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.findPwForm h2 {
  color: #007bff;
  text-align: center;
  padding-bottom: 24px;
}

label {
  color: black;
  display: block;
}

input {
  background-color: transparent;
  border-style: hidden;
  border-bottom: 2px solid #ccc;
  padding: 10px 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
}

input:focus {
  outline: 2px solid mediumseagreen;
  border-bottom: 2px solid #fff;
  border-radius: 5px;
}

button,
#login {
  display: block;
  width: 100%;
  border-radius: 20px;
  font-size: 17px;
  padding: 10px;
  text-align: center;
  border: 0;
  margin-bottom: 5px;
}

#findPW {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

#login {
  color: white;
  background-color: #6a24fe;
  margin-bottom: 20px;
}

a {
  text-decoration: none;
}

.checkAccount {
  margin-left: 5px;
  margin-bottom: 5px;
  color: red;
  font-size: 15px;
}
