/* 사이드바 스타일 */
.sidebar-left .sidebar-left-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-left .sidebar-left-content li {
  margin: 10px 0;
}

.sidebar-left .sidebar-left-content li a {
  display: block;
  padding: 10px 15px;
  color: #464646;
  text-decoration: none;
  font-size: 22px;
  border-radius: 4px;
  transition: font-weight 0.3s, color 0.3s;
}

.sidebar-left .sidebar-left-content li a:hover {
  color: #e9a30b !important;
}

.sidebar-left .active {
  font-weight: bold;
  color: #e9a30b;
}
