* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  font-family: Arial, sans-serif;
}

.header {
  background-color: #ecece4;
  padding: 20px;
  height: 150px;
}

.UserProfile .header h1 {
  text-align: left;
  font-size: 40px;
  font-weight: bold;
}

.UserProfile .header h2 {
  text-align: left;
  font-size: 15px;
  font-weight: bold;
  margin-top: 40px;
  color: #464646;
}

.container {
  display: flex;
  height: calc(100vh - 80px);
}

.sidebar-left,
.sidebar-right {
  width: 250px;
  background-color: #f5f5f5;
  padding: 20px;
}

.sidebar-content ul {
  list-style: none; /* 기본스타일 제거 */
  padding: 0;
  margin: 0;
}

.sidebar-content li {
  margin: 10px 0;
}

.sidebar-content li a {
  display: block; /* 링크를 블록으로 만들어 전체 영역 클릭 가능 */
  padding: 10px 15px;
  color: #464646;
  text-decoration: none;
  font-size: 22px;
  border-radius: 4px;
  transition: font-weight 0.3s, color 0.3s; /* 글자 굵기 변화와 색깔 변화 애니메이션 */
}

.sidebar-content li a:hover {
  color: #e9a30b !important; /* 마우스 오버 시 글자 색상 */
}

.active {
  font-weight: bold;
  color: #e9a30b;
}

.main-content {
  flex: 1;
  padding: 20px;
  background-color: #fff;
}
